body{
    margin:0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(224, 169, 151);
}

canvas{
    border-radius: 10px;
    margin: 0;
    border: 3px dotted black;
}

#parent{
    position: relative;
    display: inline-block;
    border-radius: 10px;;
}

#child{
    width: 1024;
    height: 576;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
}